@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 24.6 95% 53.1%;
  }
}

body {
  @apply bg-background text-foreground;
}
